@import "tailwindcss";


:root {
    --primary-color: #ff6900;
    --secondary-color: #2ecc71;
    --background-color: #f5f5f5;
    --text-color: black;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  ::selection{
    color: rgb(256, 145, 70);
    background-color: rgba(225, 145, 145, 0.091);
  }